html,body{
	height: 100%;
}

body{
	background: url(img/capa.png) repeat,
				linear-gradient(50deg,#56EFE0,#3B2AB5);
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}


.cabecalho{
	background-color: #57BCFF;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.conteudo-centralizado-right{
	margin-top: 25px;
	margin-bottom: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.conteudo-centralizado-left{
	margin-top: 25px;
	margin-bottom: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centralizacao{
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.fonte-home{
	background: #8E8E8E;
	color: #FFFFFF;
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font-weight: bold;
}

.onde-estou{
	background-color: #57BCFF;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #FFFFFF;
	font-style: bolder;
	background: #9bf0e1;
}

.dropdown-menu>li>a:hover{
	color: #FFFFFF;
	font-style: bolder;
	background: #9bf0e1;
}

.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: center;
}

h1{
	font-size: 100px;
	font-weight: 900px;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

.imagemcentralizada{
    text-align: center;
	color: white;
	display: table-cell;
	vertical-align: center;
}

.btn-custom{
	color: white;
	border-radius: 500px;
	background: #939393;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 20px;
	margin: 0px 15px;
	transition: background 0.4s;
}

.btn-custom:hover{
	color: white;
	border-radius: 500px;
	background: #4F4F4F;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 20px;
	margin: 0px 15px;
}
/* ----- Seção Serviços ----- */
.servicos {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.servicos:hover {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	font-weight: bolder;
	color: white;
	transition: background 0.4s;
}

.textocentralizado{
	font-size: 16px;
	margin-top: 50px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 50px;
}
/* ----- Rodapé ----- */
footer{
	position: bottom;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #EAEAEA;
	padding: 5px 5px 5px 5px;
}

.texto-rodape{ font-size: 10px;}

.quemsomos {
	background: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	padding: 50px;
	border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.quemsomos:hover {
	background: rgba(0, 0, 0, 0.5);
	font-weight: bolder;
	color: white;
	transition: background 0.4s;
}

.btn-custom-2{
	color: white;
	border-radius: 500px;
	background: #939393;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	transition: background 0.4s;
}

.btn-custom-2:hover{
	color: white;
	border-radius: 500px;
	background: #4F4F4F;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
}

.cadastroelogin {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
}

.cadastroelogin:hover {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	font-weight: bolder;
	color: white;
	transition: background 0.4s;
}
